* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFD700; /* Yellow background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.header {
    background-color: #00008B; /* Dark blue background */
    color: yellow;
    padding: 20px;
    border-radius: 10px;
}

.header .logo {
    width: 100px;
    display: block;
    margin: 0 auto 10px;
}

.login-box {
    background-color: #00008B; /* Dark blue background */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: yellow;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: yellow;
    color: #00008B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button a {
    text-decoration: none;
    color: #00008B;
}

button:hover {
    background-color: #FFD700;
}
